* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 70px;
}

section#shows {
  background-color: grey;
}

section#actors {
  background-color: rgb(185, 44, 138);
  display: none;
}

section#actoras {
  background-color: rgb(24, 179, 50);
  display: none;
}

.show-card,
.actor-card,
.actora-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
}

.likes-container {
  display: flex;
  flex-direction: column;
}

.fa-heart {
  color: red;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.likes-container > span {
  font-size: 10px;
}

#popup-section {
  border: 1px solid black;
  display: none;
  padding: 2%;
  justify-content: center;
  align-items: center;
  margin: 3% 10%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  width: auto;
  height: auto;
  max-height: 90vh;
  overflow: auto;
}

#popupClose {
  text-decoration: none;
  color: darkcyan;
  display: block;
  font-size: 25px;
  width: 50px;
  text-align: center;
}

#popupClose:hover {
  background-color: darkcyan;
  color: white;
}

#popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pop-image {
  flex: 1;
  padding: 0 1%;
  justify-content: space-around;
  align-content: center;
}

.pop-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  max-height: 80vh;
  align-self: center;
}

.pop-description {
  flex: 1;
  align-self: flex-start;
  padding: 4% 1% 0 1%;
  font-size: 18px;
}

.pop-description h1 {
  padding-bottom: 4%;
}

.pop-description p {
  padding-top: 1.5%;
  padding-bottom: 1%;
}

#popComments {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}

#popComments ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 10px;
  padding-inline-start: 0;
  gap: 10px;
}

.pop-summary {
  max-height: 10vw;
  overflow-y: auto;
  border: 1px solid rgb(226, 222, 222);
}

@media only screen and (max-width: 767px) {
  #popup-section {
    margin: 5% 5%;
    padding: 0 0;
  }

  #popup {
    flex-direction: column;
  }

  .pop-description {
    font-size: 14px;
    margin: auto 10%;
  }

  .pop-description h1 {
    padding-bottom: 6%;
  }

  .pop-description p {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .pop-summary {
    max-height: 30vw;
  }
}
